---
import type { GetStaticPaths } from "astro"; // getStaticPaths es un tipo de dato que nos permite definir el tipo de la funcion getStaticPaths
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

// esto devuelve una array de objetos con los metadatos de cada libro
export const getStaticPaths = () => {
  return [
    {
      params: { id: "aprendiendo-git" }, // esto es lo que se pasara como props al componente Layout, el id es el slug del libro
      props: { title: "Aprendiendo Git y Github" }, // lo que coloquemos aqui se pasara como props al componente Layout, solo lo de props
      // el resto de la data se pasara como props al componente de la pagina
    },
    {
      params: { id: "learning-typescript" },
      props: {
        title: "Learning Typescript",
      },
    },
    {
      params: { id: "programador-pragmatico" },
      props: {
        title: "El programador pragmático",
      },
    },
  ];
};

const { title } = Astro.props;
---

<Layout title=`${title} - Dev Books`>
  <h1>{title}</h1>
</Layout>
